@import '~@fluentui/react/dist/sass/References.scss';

.container {
  padding: 20px;

  // Estilos para el Panel cuando está abierto
  :global {
    .ms-Panel-main {
      background-color: #111111; // Fondo casi negro
      color: #ffffff;
    }

    .ms-Panel-headerText {
      color: #ffffff;
      font-weight: 600;
    }

    // Estilo para los inputs dentro del panel oscuro
    .ms-TextField-fieldGroup, .ms-Dropdown-title, .ms-DatePicker-container {
      background-color: #252525;
      border-color: #444444;
      color: white;
    }

    .ms-Label {
      color: #ffffff;
    }
  }
}