@import '~@fluentui/react/dist/sass/References.scss';

.obras {
  background-color: #f3f2f1;
  padding: 20px;

  .container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,0.132);
  }

  .formCard {
    background-color: #faf9f8;
    padding: 20px;
    border: 1px solid #edebe9;
  }

  .tableContainer {
    border: 1px solid #edebe9;
  }
}